*:after, *:before, *
	box-sizing: border-box

body
	margin: 0
	padding: 0
	font-family: 'Ubuntu', sans-serif
	position: relative

.template-page
	display: flex
	min-height: 100vh
	overflow: hidden

.content
	background-color: #f3f3f4
	width: 100%
	display: flex
	align-items: center
	justify-content: center
	&__title
		margin-top: 0
		font-size: 90px
